@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #16000a;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: #ffdada;
  border: none;
  outline: none;
  box-shadow: none;
}

.h1text {
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  font-style: normal;
}

.webgl {
  position: fixed;
  top: -24px;
  left: -24px;
  width: calc(100vw + 48px);
  height: calc(100vh + 48px);
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 10vh;
  left: 2.5rem;
  right: 1rem;
  text-align: center;
  font-family: ador-hairline, sans-serif;
  font-weight: 900;
  font-size: max(1rem, 3vh);
  z-index: 2;
}

button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 12vh;
  width: 12vh;
  transform: translateY(2vh);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  z-index: 2;
}

button:focus,
button:focus-visible,
canvas:focus,
canvas:focus-visible {
  outline: none;
  box-shadow: none;
}

svg {
  width: 3.5vh;
}